@import '../../../@theme/styles/colors';

.title {
  font-weight: 600 !important;
  font-size: 13px !important;
  line-height: 24px !important;
  margin-bottom: 24px;
}

.info-container {
  align-items: flex-start;
  min-height: 274px;

  .info-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    column-gap: 10px;

    @media screen and (max-width: 550px) {
      flex-direction: column !important;
    }

    .info-detail-item {
      display: flex;
      flex-direction: column;
      min-width: 33%;
      margin-bottom: 24px;

      .title {
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        color: $dark-gray;
        margin-bottom: 6px;
        text-transform: capitalize;
      }

      .description {
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        color: $dark-blue;
      }
    }
  }
}

.overview-container {
  padding-top: 0;

  @media screen and (max-width: 550px) {
    display: flex !important;
    flex-direction: column !important;
    padding: 20px !important;
  }
}

.page-body-left {
  padding: 20px 0px !important;
  order: 1;
  grid-column: 2;
  width: 360px;
  > * {
    width: 360px !important;
  }

  @media screen and (max-width: 550px) {
    position: relative !important;
    width: 100% !important;
    padding: 0px !important;
  }

  .card.white {
    height: 100%;

    @media screen and (max-width: 550px) {
      width: 100% !important;
    }
  }
}

.page-body-right {
  order: 2;
  grid-column: 3;
  > .card {
    min-width: 720px !important;
    max-width: 910px !important;
  }

  @media screen and (max-width: 550px) {
    position: relative;
    width: 100% !important;
    padding: 0px !important;
  }

  .card {
    @media screen and (max-width: 550px) {
      width: 100% !important;
      max-width: 100% !important;
      min-width: 100% !important;
    }
  }
}

@media screen and (min-width: 1920px) {
  .page-body-right {
    padding: 64px 0px !important;
    width: 910px;
    > * {
      width: 910px;
    }
  }

  .page-body-left {
    padding: 64px 0px !important;
    width: 400px;
    > * {
      width: 400px !important;
    }
  }
  .overview-container {
    grid-column-gap: 44px !important;
  }
}

.left-second-zone {
  display: flex;
  gap: 24px;

  @media screen and (max-width: 550px) {
    flex-direction: column;
  }

  .title {
    margin-bottom: 0 !important;
  }

  .card {
    height: auto;
    flex: 1;
  }
}
