<app-report-widget-card
  [headerTitle]="'PAGES.CHARGE-POINTS.TOTAL-CHARGE-POINT' | translate"
  [toolTipContent]="
    'PAGES.CHARGE-POINTS.TOTAL-CHARGE-POINT-TOOLTIP' | translate
  "
  [navTitle]="'COMMON.VIEW' | translate"
  [navRoute]="routePath"
  [isHTMLContent]="false"
  imgSrc="../../../assets/svg/stations.svg"
  [infoText]="
    totalChargePointReportResponse
      ? (totalChargePointReportResponse | number: '1.0-0')
      : 0
  "
  [loading]="chargePointLoading"
  *ngIf="isUserValidForPolicies([policy.ChargePointRead])"
>
</app-report-widget-card>
