<app-report-widget-card
  [headerTitle]="'PAGES.SESSIONS.TOTAL-SESSION' | translate"
  [toolTipContent]="'PAGES.SESSIONS.TOTAL-SESSION-TOOLTIP' | translate"
  [navTitle]="'COMMON.VIEW' | translate"
  [navRoute]="routePath"
  [isHTMLContent]="false"
  imgSrc="../../../assets/svg/total-session.svg"
  [infoText]="
    sessionsReportResponse ? (sessionsReportResponse | number: '1.0-0') : 0
  "
  [loading]="sessionLoading"
  [showRange]="true"
  (dataRangeChanged)="getSessionReport($event)"
  *ngIf="isUserValidForPolicies([policy.ChargeSessionRead])"
>
</app-report-widget-card>
