<div class="card white ">
  <div class="card-header mb-20">
    <label class="card-header-title">{{
      'PAGES.REPORTS.TOTAL-ENERGY-STATISTICS' | translate
    }}</label>
    <div class="filter-container justify-content-end">
      <button
        type="button"
        class="p-button p-button-default gray circle transparent xsmall"
        (click)="dateMenu.toggle($event); generateDateMenuItems()"
      >
        {{ selectedDateRange?.label }}<i class="pi-chevron-down"></i>
      </button>
      <p-menu
        #dateMenu
        [popup]="true"
        [model]="dateMenuItems"
        appendTo="body"
        class="small"
      ></p-menu>
    </div>
  </div>

  <div class="page-detail-body">
    <app-loader
      [loaderMessage]="loaderMessage"
      *ngIf="chartLoading"
      class="base-loader"
    ></app-loader>

    <div class="graph-container">
      <ng-container *ngIf="!chartLoading">
        <ng-container
          *ngIf="
            totalEnergyChartsResponse?.length === 0;
            else totalEnergyListing
          "
        >
          <app-info-panel [title]="'PAGES.REPORTS.STATISTICS-YET' | translate" [imageUrl]="noStatisticIcon">
          </app-info-panel>
        </ng-container>
        <ng-template #totalEnergyListing>
          <ngx-charts-area-chart
            [view]="null"
            [scheme]="totalEnergyChartColors"
            [showXAxisLabel]="true"
            [showYAxisLabel]="true"
            [xAxis]="true"
            [yAxis]="true"
            [xAxisLabel]="selectedDateRange?.label"
            [yAxisLabel]="'PAGES.SESSIONS.KWH' | translate"
            [results]="totalEnergyChartsResponse"
            [curve]="curve"
            [showGridLines]="false"
            [gradient]="false"
            (select)="onSelect($event, 'totalEnergy')"
          >
          </ngx-charts-area-chart>
        </ng-template>
      </ng-container>
    </div>
  </div>
</div>
