<div class="page-container detail">
  <app-loader *ngIf="loading"></app-loader>

  <div class="page-detail-header">
    <app-header-panel
      [title]="userResponse?.displayName"
      [tags]="userTagsResponse"
      showAvatar="true"
      [buttonOption]="{
        color: 'blue',
        size: 'large',
        text: getTranslate('PAGES.CHARGE-POINTS.START-CHARGE'),
        icon: sessionIcon,
      }"
      (buttonClicked)="startChargeConfirmation()"
      [showButton]="
        isUserValidForPolicies([policy.ChargePointRemoteStart]) ? true : false
      "
       [secondaryButtonOption]="{
        color: 'red',
        size: 'medium',
        text: getTranslate('PAGES.OTP.EXIT-USER'),
        icon: closeIcon,
      }"
      (secondaryButtonClicked)="exitUserConfirmation()"
      [showSecondaryButton]="true"
      *ngIf="!isScrolled"
    >
    </app-header-panel>

    <ul class="nav nav-tabs">
      <ng-container *ngFor="let tab of tabs; let i = index">
        <li
          class="nav-item"
          *ngIf="tab?.label"
          [class.active]="(sharedService.selectedTabIndex | async) === i"
        >
          <a
            class="nav-link"
            [routerLink]="['/users', userId, tab.routeTab]"
            (click)="sharedService?.changeSelectedTab(i)"
            >{{ tab.label }}</a
          >
        </li>
      </ng-container>
    </ul>
  </div>
  <div
    class="page-body overview-report"
    *ngIf="(sharedService.selectedTabIndex | async) === 0"
    #pageBody
  >
    <ng-container *ngIf="(sharedService.selectedTabIndex | async) === 0">
      <ng-container *ngIf="!userLoading">
        <div class="first-section">
          <div class="card white last-campaign">
            <app-loader
              [loaderMessage]="loaderMessage"
              *ngIf="campaignsLoading"
              class="base-loader"
            ></app-loader>
            <div class="card-header mb-20">
              <label class="card-header-title">{{
                'PAGES.CAMPAIGNS.LAST-CAMPAIGNS' | translate
              }}</label>
            </div>
            <div class="page-detail-body">
              <ng-container *ngIf="!campaignsLoading">
                <ng-container
                  *ngIf="campaignsResponse?.length === 0; else campaignListing"
                >
                  <app-info-card
                    [title]="getTranslate('PAGES.CAMPAIGNS.CAMPAIGN-YET')"
                    [imgSrc]="noCampaignIcon"
                    class="w-100"
                  >
                  </app-info-card>
                </ng-container>
                <ng-template #campaignListing>
                  <p-table
                    #sdt
                    [value]="campaignsResponse"
                    [rows]="pageSize"
                    [totalRecords]="totalItemCount"
                    [rowHover]="true"
                  >
                    <ng-template pTemplate="header">
                      <tr>
                        <th>{{ 'PAGES.CAMPAIGNS.NAME' | translate }}</th>
                        <th>{{ 'PAGES.COUPONS.COUPON' | translate }}</th>
                      </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-item>
                      <tr>
                        <td>
                          <a [routerLink]="['/campaigns', item?.campaignId]">
                            <label class="title"
                              ><b>{{ item?.campaignName }}</b></label
                            >
                          </a>
                        </td>
                        <td>
                          <label class="title"></label>
                        </td>
                        <td>
                          <label class="title"></label>
                        </td>
                      </tr>
                    </ng-template>
                  </p-table>
                </ng-template>
              </ng-container>
            </div>
          </div>

          <app-active-sessions
            [directoryId]="directoryId"
            [chargePointId]="null"
            [isChargePoint]="false"
            [userId]="userId"
            *ngIf="isUserValidForPolicies([policy.ChargeSessionRead])"
          ></app-active-sessions>

          <!-- <div class="report-cards">
            <app-report-widget-card
              [headerTitle]="'PAGES.SESSIONS.TOTAL-ENERGY' | translate"
              [toolTipContent]="
                'PAGES.SESSIONS.TOTAL-ENERGY-USER-TOOLTIP' | translate
              "
              [isHTMLContent]="false"
              imgSrc="../../../assets/svg/user-energy.svg"
              [infoText]="
                totalEnergyReportResponse
                  ? (totalEnergyReportResponse | number: '1.2-2')
                  : 0
              "
              [loading]="totalEnergyLoading"
              *ngIf="isUserValidForPolicies([policy.ChargeSessionRead])"
            >
            </app-report-widget-card>

            <app-total-session-statistic
              [directoryId]="directoryId"
              [chargePointId]="null"
              [workspaceId]="null"
              [userId]="userId"
              [routePath]="'/users/' + userId + '/sessions'"
              *ngIf="isUserValidForPolicies([policy.ChargeSessionRead])"
            ></app-total-session-statistic>

            <app-total-transaction-statistic
              [directoryId]="directoryId"
              [workspaceId]="null"
              [chargePointId]="null"
              [userId]="userId"
              [routePath]="'/users/' + userId + '/transactions'"
              [toolTipContent]="
                getTranslate('PAGES.TRANSACTIONS.TRANSACTIONS-USER-TOOLTIP')
              "
              *ngIf="isUserValidForPolicies([policy.TransactionRead])"
            ></app-total-transaction-statistic>
          </div> -->
        </div>

        <div class="second-section">
          <app-latest-session-list
            [directoryId]="directoryId"
            [workspaceId]="null"
            [chargePointId]="null"
            [userId]="userId"
          ></app-latest-session-list>

          <app-latest-transaction-list
            [directoryId]="directoryId"
            [chargePointId]="null"
            [userId]="userId"
          ></app-latest-transaction-list>
        </div>
      </ng-container>
    </ng-container>
  </div>

  <div
    class="page-detail-body"
    *ngIf="(sharedService.selectedTabIndex | async) > 0"
    #pageBody
  >
    <ng-container *ngIf="(sharedService.selectedTabIndex | async) === 1">
      <div class="page-detail-body-right">
        <app-session-list
          [userId]="userId"
          [isChild]="true"
          [showActionbar]="true"
          [showActionbarSearch]="true"
          [showActionbarFilter]="true"
          [showActionbarButton]="true"
          *ngIf="isUserValidForPolicies([policy.ChargeSessionRead])"
        >
        </app-session-list>
      </div>
    </ng-container>
    <ng-container *ngIf="(sharedService.selectedTabIndex | async) === 2">
      <div class="page-detail-body-right">
        <app-transaction-list
          [userId]="userId"
          [isChild]="true"
          [showActionbar]="true"
          [showActionbarSearch]="true"
          [showActionbarFilter]="true"
          [showActionbarButton]="true"
          *ngIf="isUserValidForPolicies([policy.TransactionRead])"
        ></app-transaction-list>
      </div>
    </ng-container>

    <ng-container *ngIf="(sharedService.selectedTabIndex | async) === 3">
      <div class="page-detail-body-right">
      </div>
    </ng-container>
  </div>
</div>
