@import '../../../@theme/styles/colors';

:host ::ng-deep .p-dropdown {
  margin: 5px 0;
  width: 186px !important;
  height: 32px !important;
  border-radius: 2px !important;
  justify-content: space-between;
  align-items: center;

  .p-inputtext .p-placeholder {
    font-weight: 400 !important;
    font-size: 12px !important;
    line-height: 16px !important;
    align-items: center !important;
    padding-top: 0;
    padding-bottom: 0;
  }

  svg {
    width: 14px;
    height: 14px;
  }

  .page-detail-body {
    justify-content: center;
  }
}

:host ::ng-deep .avatar-container {
  margin-right: 0 !important;
}

:host ::ng-deep .page-body {
  overflow: unset !important;
}

.title {
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  color: $dark-blue;
}

.subTitle {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: $dark-blue;
}

.connected-card {
  justify-content: space-between !important;
  margin-bottom: 0 !important;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 19px;
  justify-content: center;

  .connector-item {
    display: flex;
    padding: 15px;
    max-width: 350px;
    box-shadow: 0px 2px 6px rgba(16, 24, 40, 0.04);
    border-radius: 8px;
    background-color: white;
  }
}

input {
  font-size: 14px !important;
  line-height: 20px !important;
  font-weight: 400;
  margin: 5px 0;
  padding: 5px 12px !important;
}

.p-button.p-button-default.circle {
  padding: 4px 8px;
  margin: 5px 0;
}

.connector-info-items {
  display: flex;
  flex-direction: column;
  gap: 5px;

  .connector-info-item {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: space-between;

    .title {
      font-weight: 600;
      font-size: 12px;
      line-height: 20px;
      color: $dark-blue;
      flex: 1;
    }

    input {
      flex: 1;
    }
  }
}

@media screen and (min-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1450px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
