<p-sidebar
  [visible]="true"
  [dismissible]="false"
  [showCloseIcon]="false"
  [modal]="false"
  [ngClass]="{
    'minimize ': !sidebarVisible
  }"
>
  <div class="d-flex">
    <div class="logo-container">
      <div
        class="svgContainer"
        [innerHTML]="sidebarVisible ? currentIcon : logoWithoutText"
        alt="Surge"
        routerLink="/dashboard"
        class="logo"
        id="logo"
      ></div>
    </div>
  </div>

  <ul class="list-group">
    <li
    class="list-group-item"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <a routerLink="/dashboard" class="full-size-link">
      <div class="svgContainer" [innerHTML]="dashboardIcon"></div>
      <span>{{ 'SIDE-NAV.DASHBOARD' | translate }}</span>
    </a>
  </li>

  <li
  class="list-group-item"
  routerLinkActive="active"
  [routerLinkActiveOptions]="{ exact: false }"
  >
    <a routerLink="/charge-points" class="full-size-link">
      <div class="svgContainer" [innerHTML]="chargePointIcon"></div>
      <span>{{ 'SIDE-NAV.CHARGE-POINTS' | translate }}</span></a
    >
  </li>

  <hr />

  <label
    class="list-group-title"
    >{{ 'SIDE-NAV.ACTIVITIES' | translate }}</label
  >

  <li
    class="list-group-item"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: false }"
  >
    <a routerLink="/sessions" class="full-size-link">
      <div class="svgContainer" [innerHTML]="sessionIcon"></div>
      <span>{{ 'SIDE-NAV.SESSIONS' | translate }}</span>
    </a>
  </li>
  <li
    class="list-group-item"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: false }"
  >
    <a routerLink="/transactions" class="full-size-link">
      <div class="svgContainer" [innerHTML]="transactionIcon"></div>
      <span>{{ 'PAGES.TRANSACTIONS.TITLE' | translate }}</span>
    </a>
  </li>

  </ul>

  <ng-template pTemplate="footer">
    <label>v.{{ version }}</label>
  </ng-template>
</p-sidebar>
