$light-blue: #e9ecef;
$lucid-dreams: #d8e1ff;
$blue: #2755f6;
$plain-blue: #357ae8;
$dark-blue: #1a2c51;
$dark-blue2: #4285f4;
$dark-blue3: #2196f3;
$pink: #ff3ca5;
$red: #ff4264;
$white: #ffffff;
$gray: #f1f3fb;
$light-gray: #f3f5fd;
$light-gray2: #f8f9ff;
$light-gray3: #f9fafe;
$light-gray4: #eff1f9;
$light-gray5: #edf1f7;
$light-gray6: #ccc;
$light-gray7: #eff2fa;
$dark-gray: #59698b;
$extra-light-gray: #e1e7f2;
$medium-gray: #9da9c2;
$green: #4fa10d;
$orange: #f67227;
$black: #000000;
$rejected-color: #d32f2f;
$undefined-color: #a1a1a4;
$requested-color: #3185a9;
$accepted-color: #cddc39;
$pending-color: #f9a825;
$charging-color: #1976d2;
$completed-color: #4caf50;
$faulted-color: #9b1e64;
