<div class="page-container">
  <app-loader *ngIf="loading"></app-loader>
  <div class="page-container-left">
    <div class="img-container">
      <img src="../../../assets/png/dashboard.png" />
    </div>
    <div class="info-container">
      <label class="title">
        {{ 'LANDING.POWER-UP' | translate }}
      </label>
      <p class="sub-title">
        {{ 'LANDING.MANAGE-ALL-CHARGING' | translate }}
      </p>
    </div>
  </div>

  <div class="page-container-right">
    <div
      class="svgContainer logo-container"
      [innerHTML]="surgeMobilityLogoWithText"
    ></div>
    <div class="form-container">
      <label class="title"> {{ 'LANDING.WELCOME' | translate }}</label>
      <label class="sub-title">
        {{ 'LANDING.WELCOME-DESCRIPTION' | translate }}</label
      >
      <button
        class="p-button p-button-default xlarge dark-blue w-100"
        (click)="sharedService?.login()"
      >
        {{ 'COMMON.SIGN-IN' | translate }}
      </button>
    </div>
  </div>
</div>
