<div class="page-container">
  <app-loader *ngIf="loading"></app-loader>
  <div class="page-container-left">
    <div class="img-container">
      <img src="../../../assets/png/dashboard.png" />
    </div>
    <div class="info-container">
      <label class="title">
        {{ 'LANDING.POWER-UP' | translate }}
      </label>
      <p class="sub-title">
        {{ 'LANDING.MANAGE-ALL-CHARGING' | translate }}
      </p>
    </div>
  </div>

  <div class="page-container-right">
    <div
      class="svgContainer logo-container"
      [innerHTML]="surgeMobilityLogoWithText"
    ></div>
    <div class="form-container">
      <label class="title"> {{ 'LANDING.WELCOME' | translate }}</label>
      <label class="sub-title">
        {{ 'LANDING.WELCOME-DESCRIPTION' | translate }}</label
      >
      <button
        class="p-button p-button-default xlarge dark-blue w-100"
        (click)="sharedService?.login()"
      >
        {{ 'COMMON.SIGN-IN' | translate }}
      </button>
<!--
      <label class="text-center bold text-lowercase my-4">{{
        'COMMON.OR' | translate
      }}</label> -->

      <!-- <button
        class="p-button p-button-default xlarge outlined dark-blue w-100"
        (click)="register()"
      >
        {{ 'COMMON.SIGN-UP' | translate }}
      </button> -->

      <!-- <div class="agreement-container">
        <p-checkbox
          class="checkbox"
          [binary]="true"
          [(ngModel)]="acceptAgreement"
          inputId="binary"
        ></p-checkbox>

        <span [innerHTML]="'LANDING.AGREEMENT' | translate"></span>
      </div> -->

      <!-- <small
        class="text-error"
        [ngStyle]="{
          visibility: !acceptAgreement && submitted ? 'visible' : 'hidden'
        }"
      >
        {{ 'LANDING.PLEASE-ACCEPT-AGREEMENT' | translate }}
      </small> -->
    </div>
  </div>
</div>
