<div
  class="page-container child-modal confirmation"
  (click)="$event.stopPropagation()"
>
  <div class="page-body">
    <div class="page-body-right">
      <button
        type="button"
        class="p-button p-button-default circle transparent p-0 justify-content-end cancel-button"
        tabindex="-1"
        (click)="onEndTour()"
      >
        <div class="svgContainer" [innerHTML]="closeIcon"></div>
      </button>

      <div class="d-flex flex-column justify-content-center">
        <div
          class="svgContainer mb-2"
          [innerHTML]="surgeLogo"
          tabindex="1"
        ></div>
        <label class="subtitle my-1" [innerHTML]="step?.content"> </label>
      </div>

      <div
        class="d-flex flex-row justify-content-between align-items-center my-2"
      >
        <button
          pButton
          class="p-button p-button-default gray small"
          (click)="onPreviousStep()"
          type="button"
          [disabled]="!hasPrevious()"
          tabindex="-1"
        >
          <span>{{ 'COMMON.BACK' | translate }}</span>
        </button>

        <ng-container *ngIf="hasNext(); else endTourButton">
          <button
            type="button"
            class="p-button p-button-default blue small"
            (click)="onNextStep()"
          >
            <span>{{ 'TOURS.NEXT' | translate }}</span>
          </button>
        </ng-container>

        <ng-template #endTourButton>
          <button
            type="button"
            class="p-button p-button-default blue small"
            (click)="onEndTour()"
          >
            <span>{{ 'TOURS.END' | translate }}</span>
          </button>
        </ng-template>
      </div>
    </div>
  </div>
</div>
