.page-body-right {
    min-width: 220px !important;
    max-width: 320px !important;
    padding: 16px !important;
}

.p-button.p-button-default.transparent:hover {
    background: none !important;
}

.p-button.p-button-default.small {
    max-height: 32px !important;
}:focus-visible {
    outline: none;
}:hover {
    outline: none;
}
