<div class="info-panel">
  <div
    class="info-panel-image"
    [innerHTML]="imageUrl"
    *ngIf="imageUrl"
    alt="Image"
  ></div>
  <h2 class="info-panel-title" *ngIf="title">{{ title }}</h2>
  <p class="info-panel-description" *ngIf="description">{{ description }}</p>
  <div class="d-flex flex-row">
    <button
      type="button"
      class="p-button p-button-default {{ buttonOption?.color }} {{
        buttonOption?.size
      }}"
      (click)="onButtonClick()"
      *ngIf="showButton"
    >
      <div class="svgContainer" [innerHTML]="buttonOption?.icon"></div>
      <span>{{ buttonOption?.text }}</span>
    </button>
    <button
      type="button"
      class="p-button p-button-default {{ secondaryButtonOption?.color }} {{
        secondaryButtonOption?.size
      }}"
      (click)="onSecondaryButtonClick()"
      *ngIf="showSecondaryButton"
    >
      <div class="svgContainer" [innerHTML]="secondaryButtonOption?.icon"></div>
      <span>{{ secondaryButtonOption?.text }}</span>
    </button>
  </div>
</div>
