<div class="page-container detail">
  <div class="page-detail-header">
    <app-header-panel
      title="{{ 'PAGES.DASHBOARD.TITLE' | translate }}"
      [buttonOption]="{
        color: 'blue',
        size: 'large',
        text: getTranslate('PAGES.CHARGE-POINTS.START-CHARGE'),
        icon: sessionIcon,
      }"
      (buttonClicked)="startChargeConfirmation()"
      [showButton]="true
      "
      *ngIf="!isScrolled"
    >
    </app-header-panel>
  </div>

  <div class="page-detail-body justify-content-center" #pageBody>
    <div class="child-page">
      <div class="page-body" >

      </div>
    </div>
  </div>
</div>
